<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img id="logo" width="100px" alt="App Logo" (click)="homePage()"/>
  
    <h2 style="margin-top: 10px;">Planinarsko društvo</h2>
    <div class="spacer"></div>
    <a *ngIf="!isLoggedIn()" (click)="signup()">
      <button id="signup">Registrovanje</button>
    </a>
    <a *ngIf="!isLoggedIn()" (click)="login()">
      <button id="login">Prijava</button>
    </a>
    <a *ngIf="isLoggedIn()" (click)="logout()">
      <button id="logout">Odjavi se</button>
    </a>
    <a *ngIf="user && isLoggedIn()"(click)="userProfile()">
      <img id="profilePhotoButton" src="{{user.photo}}">
    </a>
  </div>
  
  <div class="content" role="main">
  
    <div class="route-card" *ngIf="route">
        <h1 class="route-title">{{route.name}}</h1>
        <h2 class="route-date">{{formatedDate(route.date)}}</h2>
        <img src="{{route.photo}}" class="route-photo">
        <h1>Opis akcije</h1>
        <p class="route-summary" *ngIf="distance">{{route.summary}} <br> {{route.description}} <br> Dužina rute je priblizno <b>{{distance.toFixed(1)}} km.</b></p>
        <h1>Prikaz rute</h1>
    </div>
    <div id="map"></div>
    <div *ngIf="route" class="route-card-end">
        <button id="downloadGpxButton" (click)="downloadFile()">Preuzmi rutu u gpx formatu</button>
        <h1 *ngIf="route.peaks.length != 0">Vrhovi obuhvaceni rutom</h1>
        <p class="route-information" *ngFor="let peak of route.peaks">{{peak.name}}, {{peak.elevation}} mnv</p>
        <div *ngIf="routeIsInFuture">
          <h1>Prijava i uplata</h1>
          <div *ngIf="isLoggedIn()">
            <p class="route-information">Prijava je moguća do popune mesta. Trenutan broj slobodnih mesta je <b>{{route.capacityLeft}}</b>.</p>
            <p class="route-summary" *ngIf="route.price==0">Akcija je besplatna.</p> 
            <p class="route-summary" *ngIf="route.price!=0">Cena akcije je <b>{{route.price}} RSD</b>. Plaćanje je potrebno obaviti pre dana održavanja akcije i moguće je uživo u kancelarijama društva ili putem uplate na račun. <br> U slučaju otkazivanja potrebno je pronaći zamenu, u suprotnom novac se ne vraća.</p>
            <button [ngClass]="{'registerForActivityButton':!routeCapacityFull && !userIsAdmin && user.status=='A', 'registerForActivityButtonDisabled': routeCapacityFull || userIsAdmin || user.status!='A'}" [disabled]="routeCapacityFull || userIsAdmin || user.status!='A'" (click)="registerUserForRoute()" >Prijavite se za akciju</button>
            <p *ngIf="user.status!='A'" class="not-active-p">Prijava ce biti moguca kada clanarina bude odobrena</p>
          </div>
          <div *ngIf="!isLoggedIn()">
            <p class="route-summary">Morate biti prijavljeni na svoj korisnički nalog da biste se prijavili na akciju. Kliknite dugme <i>Prijava</i>, ili <i>Registrovanje</i> u slučaju da nemate nalog.</p>
          </div>
        </div>
    </div>
  
    <!-- Footer -->
    <footer>
      
    </footer>
  
    <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
      <title>Gray Clouds Background</title>
      <path id="Path_39" data-name="Path 39"
        d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
        transform="translate(142.69 -634.312)" fill="#eee" />
    </svg>
  
  </div>
  